.homePage{
    padding: 2px;
}

.homeBannerContainer{
   width: 100vw;
   height: 600px;
   /* display: grid;
   gap: 20px;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr; */
   /* overflow-x: scroll;
   overflow-y: hidden; */
}
.homeBannerCard{
    width: 100vw;
    height: 700px;
  /* border: 1px solid black; */
    /* padding:30px ; */
    /* margin-inline:5px ; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.bannerOneText{
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 100px;
    /* opacity: 1; */
}

.bannerTwoText{
    position: absolute;
    bottom: 150px;
    right:25px;
    font-size: 100px; 
    opacity: 0.6;
    
}
.bannerOne  img {
    width: 98%;
    height: 600px;
    display: block;
    object-fit: cover;
    opacity: 0.8;
    margin-left: -10px;

}

.homeSuggestion {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 10px;
    gap: 10px;
}

.suggestionCloth{
    /* width: 300px; */
    height: 500px;
    /* background-color: black;
    color: white; */
    border: 2px solid black; 
    transition: transform 0.3s ease; 
    /* margin: 5px;   */
}

.suggestionCloth:hover{
   transform:  scale( 1.02);
    opacity: 0.8;
     transition: transform 0.3s ease, opacity 0.3s ease;
}

.suggestionCloth img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.suggestionCloth h3 {
    position: relative;
  top: -80px;
  background-color: rgba(250, 235, 215,0.6);
   display: flex;
   /* align-content: center; */
   justify-content: center;
  font-family: "Playwrite HR", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@media (max-width:600px){
     .bannerOneText ,  .bannerTwoText {
        font-size: 50px;
    }

    .bannerTwoText{
       bottom: 200px;
      left: 70px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .bannerOneText,
    .bannerTwoText {
      font-size: 60px;
    }
    
    .bannerTwoText {
      bottom: 500px;
      /* left: 100px; */
    }
  }
  