* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}

header {
  height: 80px;
  box-shadow: 0 0 3px 2px rgb(161, 160, 160);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.brandLogo-nd-OptionContainer {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-brandLogo {
  width: 140px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: -15px;
}

.navOptions-ul {
  display: flex;
  gap: 15px;
  list-style: none;
  cursor: pointer;
}
.logosConatiner {
  display: flex;
  gap: 20px;
  padding-right: 20px;
}

.displayOnSmallerScreen,
.dropdownOptions {
  display: none;
}

@media (max-width: 930px) {
  .navOptions-ul {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    width: 360px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2rem);
    list-style: none;
    padding-top: 100px;
    padding-inline: 40px;
  }
  
  .navOptions-ul.open {
    display: block;
  }

  .navOptions-ul li {
    margin-block: 20px;
  }
    
  a {
    color: black;
    text-decoration: none;
  }

  .displayOnSmallerScreen {
    display: block;
    z-index: 999;
  }

  .nav-menuBar {
    font-size: 20px;
  }
  
  .faUserCirlce-nav {
    font-size: 30px;
  } 
  
  /* .crossSign{
    font-size: 30px;
   color: red;
   outline-color: black;
    } */
}

/*  Search Css */
.nav-Search {
  /* display: none; */
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100vw;
  height: 300px;
  justify-content: center;
  padding-top:30px ;
  align-items: baseline;
  z-index: 99999;
}

.nav-Search input {
  height: 30px;
  width: 310px;
  /* border: none; */
  border-bottom: 2px solid black;
  padding: 2px;
 
}

/* .nav-Search-inputSearchConatiner{
  background-color: red;
}  */

.nav-faSearch{
  position: relative;
  right: 25px;
}

.faCross-mark{
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 25px;
  color: red;

}